@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: rgb(4, 140, 203) !important;
}
#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid  rgb(5, 111, 153) ;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-light .navbar-nav .dropdown-menu {
    background-color: black;
}
.navbar-light .navbar-nav .dropdown-menu a:hover {
    background: rgba(255, 255,255,0.06);
}
#about-institution{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)), url(https://upload.wikimedia.org/wikipedia/commons/a/af/KPRIET.jpg);
}
#about-institution h1{
    font-weight: 800;
    font-size: 50px;
    color: white;
    text-shadow: 2px 4px 5px rgba(0,0,0,.8);
}
#about-institution img{
    border-radius: 25px;
}
#about-institution p{
    color: white;
}